:root {
    --sui-btn-min-width: 100px;
    --fade-in-animation: sui-pop-up;
}

#sui-modal {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0007;
    z-index: 999;
    display: flex;
    font-size: 20px;
}

#sui-modal {
    font-family: 'Arial';
    color: #444;
}

#sui-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    text-align: center;
    border-style: solid;
    border-color: #555;
    border-width: 1px;
    border-radius: 1em;
    width: min(400px, 95%);
    padding: 1.5em;
    margin: 0.5em;
    gap: 1em;
}

#sui-modal>div>* {
    margin: 0;
}

#sui-modal h3 {
    text-align: justify;
}

#sui-modal button {
    font-size: 1em;
    width: fit-content;
    min-width: var(--sui-btn-min-width);
    color: #fff;
    user-select: none;
    padding: 0.5em;
    border-radius: 0.75em;
    border-color: #000;
    border-width: 1px;
}

#sui-modal button:hover {
    cursor: pointer;
}

#sui-btn-basic {
    background-color: #0055ff;
}

.sui-anim-fade-in {
    animation: sui-fade-in 300ms linear;
}

.sui-anim-fade-out {
    animation: sui-fade-out 300ms linear;
}

.sui-anim-implode-out {
    animation: sui-implode-out 300ms ease-in;
}

.sui-anim-pop-up {
    animation: sui-pop-up 500ms ease-in-out 300ms, sui-delay 300ms steps(1);
}

.sui-modal-position-center {
    align-items: center;
    justify-content: center;
}

.sui-modal-position-top-center {
    align-items: start;
    justify-content: center;
}

.sui-modal-position-top-left {
    align-items: start;
    justify-content: start;
}

.sui-modal-position-top-right {
    align-items: start;
    justify-content: end;
}

.sui-modal-position-center-left {
    align-items: center;
    justify-content: start;
}

.sui-modal-position-center-right {
    align-items: center;
    justify-content: end;
}

.sui-modal-position-bottom-left {
    align-items: end;
    justify-content: start;
}

.sui-modal-position-bottom-center {
    align-items: end;
    justify-content: center;
}

.sui-modal-position-bottom-right {
    align-items: end;
    justify-content: end;
}

@keyframes sui-delay {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

@keyframes sui-pop-up {
    from {
        transform: scale(0);
    }

    50% {
        transform: scale(1.15);
    }

    66% {
        transform: scale(0.95);
    }

    83% {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}

@keyframes sui-implode-out {
    from {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    to {
        transform: scale(0)
    }
}

@keyframes sui-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes sui-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}