#simple-modal {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.5);
    animation: modal-bg-fade-in 500ms ease-in-out;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#simple-modal > div {
    background-color: white;
    border-style: solid;
    border-color: black;
    width: min(300px, 95%);
    height: 200px;
    animation: modal-intro 600ms ease-in-out;
}

#simple-modal button{
    user-select: none;
}

@keyframes modal-delay {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modal-intro {
    from {
        transform: scale(0);
    }

    50% {
        transform: scale(1.15);
    }

    66% {
        transform: scale(0.95);
    }

    83%{
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}

@keyframes modal-bg-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}