#simple-modal {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0007;
    animation: modal-bg-fade-in 300ms ease-in-out;
    z-index: 999;
    display: flex;
    font-size: 20px;
}

#simple-modal {
    font-family: 'Arial';
    color: #444;
}

#simple-modal>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    text-align: center;
    border-style: solid;
    border-color: #555;
    border-width: 1px;
    border-radius: 1em;
    width: min(400px, 95%);
    padding: 1.5em;
    margin: 1em;
    animation: sui-modal-pop-up 600ms ease-in-out 300ms, modal-delay 300ms steps(1);
}

#simple-modal h3 {
    text-align: justify;
}

#simple-modal button {
    width: min(fit-content, 1000px);
    color: #fff;
    user-select: none;
    border-radius: 0.3em;
}

#simple-modal button:hover {
    cursor: pointer;
}

#sui-btn-basic {
    background-color: #0033ff;
}

.sui-modal-position-center {
    align-items: center;
    justify-content: center;
}

.sui-modal-position-top-center {
    align-items: start;
    justify-content: center;
}

.sui-modal-position-top-left {
    align-items: start;
    justify-content: start;
}

.sui-modal-position-top-right {
    align-items: start;
    justify-content: end;
}

.sui-modal-position-center-left {
    align-items: center;
    justify-content: start;
}

.sui-modal-position-center-right {
    align-items: center;
    justify-content: end;
}

.sui-modal-position-bottom-left {
    align-items: end;
    justify-content: start;
}

.sui-modal-position-bottom-center {
    align-items: end;
    justify-content: center;
}

.sui-modal-position-bottom-right {
    align-items: end;
    justify-content: end;
}


@keyframes modal-delay {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

@keyframes sui-modal-pop-up {
    from {
        transform: scale(0);
    }

    50% {
        transform: scale(1.15);
    }

    66% {
        transform: scale(0.95);
    }

    83% {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}

@keyframes modal-bg-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}